<form method = "POST" action =  "/contacts">
	<h1>Contact Us!</h1>
	<p>NYCDA</p>
	<div class = "textarea">
		<% @@text.each do |t| %>
			<p><%= t %>
			</p>
		<% end %>
		<input name = "anything" type="text">
		<input type = "submit" id = "sub">
	</div>
</form>