<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cantarell:700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class = "nav_class">
		<nav>
			<ul>
				<li><a href="Home">Home</a></li>
				<li><a href="Stuff">My Stuff Back</a></li>
				<li><a href="About">About</a></li>
				<li><a href="Contacts">Contacts</a></li>
			</ul>
		</nav>
	</div>
	<div id = "wrapper">

		<div id = "content">
			<%= yield %>
		</div>
	</div>

	<div id = "sidebar">
		<h2>Recent Posts</h2>
			<ul id = "f1">
				<li><a href="#" src = "img/abo-group1.jpg">Transitioning</a></li>
				<li><a href= "#" src = "img/slide-img2.jpg">Welcome to Paybros</a></li>
			</ul>
		<h2>Follow Our Blog Via Email</h2>
			<ul id = "f2">
				<input type="text" name = "email" placeholder = "Enter your email" value id ="subscribe-field">
				<input type="submit" name = "sub" value = "Follow!">
			</ul>
		<h2>Archives</h2>
			<ul id = "f3">
				<strong>Enter your email address to follow the blog and receives notifications of new posts by email</strong>
				<li><a href="#">November 2015</a></li>
				<li><a href="#">December 2015</a></li>
			</ul>
	</div>
s
		<div class = "#footer">
			<div class = "cols">
			</div>
		</div>
		<div clas = "#footer_bottom">
			<hr>All of this is copyright, infringement will be prosecuted to the fullest extent of the law</hr>
		</div>

<div class='outerlightbox'>
		<img src = "" id = "blankman">
</div>
</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src = "script.js"></script>
</html>