body{

    font-size: 62.5%;
    font-family: Tahoma, Verdana, Arial, Cantarell, Sans-Serif;
    background: #bcc5c1;
    color: #333;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
}

#wrapper{
	background-image: url(img/slide-img1.jpg);
	background-repeat: no-repeat;
	position: relative;
	top: -13px;
	width: 1054px;
	margin: 0 auto;
	min-height: 450px;
	vertical-align: baseline ;
}

.nav_class{
	background:black;
	height: 50px;
	position: relative;

}

nav {
	width: 800px;
	height: 100%;
	position: relative;
	top: -10px;
	left: 0;
}

nav ul {
  list-style: none;
  width: 110%;
  margin: 0;
  margin-right: 20px;
  padding:0;
  text-align: center;
  position:relative;
  right: 90px;
}

nav li {
  display: inline-block;
  height: 30px;
  width:200px;
  top:20px;
  position: relative;
  padding: auto auto;
  font-size: 25px;
}

nav a{
  text-decoration: none;
  display: inline:block;
  color:white;
  position:relative;
  top:25%;
}


.content{
	margin: 0 auto;
	width: 500px;
}

#sidebar{
	position: fixed;
	width: 410px;
	height: 475px;
	top: 48px;
	left: 0;
	border: 3px solid black;
}

#sidebar h2{
	font-size: 24px;
	color: black;
	font-family: Cantarell;
	text-align: left;
}
#sidebar h2:hover{
	width
	color: red;
}

#f1{
	width: 350px;
	display: block;
	margin-right: 30px;
	list-style-type: none;
	padding-right:20px;
	padding: 0;
	font-family: 'Cantarell', Sans-Serif;
	text-align: left;
	font-size: 20px;
}

#f1 li{
	background-color: black;
}

#f1 li a{
	text-decoration: none;
	color: white;
}

#f1 li a:hover {
	color: red;
}

#f2{
	width: 150px;
	padding: 0;
}

#f3{
	list-style: none;
	width: 300px;
	padding: 0;
}

#f3 li{
	background-color: black;
}

#f3 li a {
	text-decoration: none;
	font-family: 'Cantarell', Sans-Serif;
	font-size: 20px;
	color: white;
	line-height: 145%;
}
/*#sidebar li{
	margin-right: 35px;
	text-decoration: none;
	text-align: left;
}

#sidebar li a{
	text-decoration: none;
	font-size: 2em;
	font-family: 'Cantarell', Sans-Serif;
}
*/

